<div class="container mt-3">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="row">
      <div class="col-12">
        <h1>All our Shops</h1>
          <div class="row">
            <div class="col">
              <% if @query %>
                <p>You searched for <strong><%= @query %></strong>. We found <%= @shops.count %> shops out of our <%= Shop.count %> on our website.</p>
              <% else %>
                <p>All <%= Shop.count %> shops.</p>
              <% end %>
            </div>
          </div>
      </div>
    </div> 
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/release/v5.0.10/css/all.css">
    <link rel="stylesheet" href="css/style.css"> -->

  </head>
  <body>
    <div class="navbar-minimalist">
      <img src="" alt="">
    </div>  
  
    
            <% @shops.each do |shop| %>
              <div class="card" style="width: 18rem;">
               <% if shop.image.attached? %>
                 <%= cl_image_tag shop.image.key, height: 300, width: 400, crop: :fill %>
               <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><strong><%= link_to shop.name, shop_path(shop) %></strong></h5>
                  </div>
            <% end %>
          
        </div>
    </div>  
  </body>
</div>
