<div class="container mt-2">
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Descubre una selección de tiendas</h2>
        <div class="row">
          <div class="col">
            <% if @query %>
              <p>You searched for <strong><%= @query %></strong>. We found <%= @shops.count %> shops out of our <%= Shop.count %> on our website.</p>
            <% else %>
              <p>Tiendas disponibles:<%= Shop.count %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div> 
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/release/v5.0.10/css/all.css">
    <link rel="stylesheet" href="css/style.css"> -->
  </head> 
  <div>  
    <div class="d-flex flex-wrap justify-content-around">
        <% @shops.each do |shop| %>
          <div class="card-shop m-4" style="width: 18rem;">
            <% if shop.image.attached? %>
                 <%= cl_image_tag shop.image.key, height: 300, width: 400, crop: :fill %>
               <% end %>
            <div class="card-shop-infos">
              <h2><strong><%= link_to shop.name.capitalize, shop_path(shop) %></strong></h2>
            </div>
          </div>    
        <% end %>
      </div>  
    </div>
  </div>  
</div>




