<div>
  <%= render 'shared/carousel' %>
</div>

<%# container info shop %>
<div class="d-flex justify-content-center" role="group">
  <%# usuario %>
  <div class="col-3 text-center "><h2><%= @shop.name.capitalize %></h2><br />
  <% if @shop.image.attached? %>
    <%= cl_image_tag(@shop.image.key, height:250, width:250, crop: :fill,class: "img-thumbnail rounded-circle my-avatar")%>
  <% else %>
    <img src="https://i.imgur.com/WyxbTOS.png" class="img-thumbnail" alt="Servicio">
  <% end %>

   <!-- <img src="https://www.hola.com/imagenes/decoracion/20210408187392/plantar-huerto-urbano-primavera-mc/0-938-406/plantar-huerto-primavera-m.jpg
" class="img-thumbnail rounded-circle my-avatar" alt="..."><br />
    <br /> -->
     <!-- Button trigger modal -->
    <button class="btn btn-contact" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-envelope"></i> Contacto</button>
  </div>
  <%# historia %>
  <div class="col-6 text-center">
    <h2>Historia</h2>
    <p><%= @shop.history.capitalize %></p>
  </div>
</div>

<div class="container mb-5 pt-5">
  <div class="container">
    <ul>
      <h3 class="text-center">Productos</h3>
      <div class="d-flex flex-wrap justify-content-around">
        <% @shop.products.each do |product| %>

          <div class="card-trip m-4">
            <% if product.image.attached? %>
              <%= cl_image_tag product.image.key, height: 300, width: 400, crop: :fill %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= link_to product.title.capitalize, shop_product_path(product.shop, product), class:"text-decoration-none" %></h2>
                <p class="card-price">Precio: $ <%= product.price %></p>
              </div>
              <div class="mt-2">
                <p class="card-amount">Cantidad: <%= product.amount %></p>
              </div>
              <div>
                <!--<a class="fas fa-pen text-decoration-none" href="edit_product_path(product)">-->
                <%= link_to "Editar", edit_product_path(product), class:"btn btn-primary btn-sm" %>
                <%= link_to "Eliminar", product_path(product), method: :delete, class:"btn btn-primary btn-sm" %>
                <!--<a class="fas fa-trash-alt text-decoration-none" href="product_path(product)", method: :delete>-->
              </div>
            </div>
          </div>
        <% end %> 
      </div>
      <%= link_to "+ Agregar producto", new_shop_product_path(@shop), class: "btn btn-add" %> 
    </ul>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4> Nos puedes llamar o escribir.</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Telefono:</label>
          <h5 class="modal-title" id="exampleModalLongTitle"><%= @product.shop.user.phone %></h5>
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">Email:</label>
          <h5 class="modal-title" id="exampleModalLongTitle"><%= @product.shop.user.email %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
