<div>
<%= render 'shared/carousel' %>
</div>

<div id="content" class="wt-max-width-full d-flex justify-content-around" role="main">
  <div>
    <div clas="col-4">
      <div class="avatar shop-home-max-icon-width wt-position-relative wt-display-inline-block shop-home-large-icon-width" data-editable-img="shop-icon">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large wt-rounded wt-display-block", alt: "avatar-large" %>
      </div>  
      <div>
        <h1><%= @shop.name %></h1>
      </div>  
      <div>
        <h5><%= @user.try(:first_name) %></h5>
        <a class="btn btn-ghost" href="#"><i class="fas fa-envelope"></i> Contactar</a>
      </div>
    </div>  
    <div class="wt-display-inline-flex-xs wt-grid__item-md-5 wt-mt-xs-3 wt-mt-md-0 wt-pl-md-3 highlight-container highlight-container- wt-align-items-center col-8">
      <div>
        <h2 class="wt-text-caption-title wt-display-inline">Historia</h2>
        <p class="wt-text-caption wt-display-inline"><%= @shop.history %></p>
      </div>
    </div>
  </div>
</div>





<div class="container">
  <ul>
    <h3>Productos</h3>
    <div class="d-flex flex-wrap justify-content-around">
      <% @shop.products.each do |product| %>

        <div class="card-trip m-4">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to product.title.capitalize, product_path(product) %></h2>
              <p class="card-price">Precio: $ <%= product.price %></p>
            </div>
            <div class="mt-2">
              <p class="card-amount">Cantidad: <%= product.amount %></p>
            </div>  
          </div>
        </div>
      <% end %>
    </div>
  </ul>
</div>