<div id="content" class="clear" role="main">
  <div class="row">
    <div class="col-12">
          <h1><%= @shop.name %></h1>
          <p><%= @shop.history %><p>
    </div>
  </div>
  <h1><%= @user.try(:first_name) %></h1>
</div>
<div class="container">
  <ul>
    <div class="d-flex flex-wrap justify-content-around">
      <% @shop.products.each do |product| %>

        <div class="card-trip m-4">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to product.title.capitalize, product_path(product) %></h2>
              <p class="card-price">Precio: $ <%= product.price %></p>
            </div>
            <div class="mt-2">
              <p class="card-amount">Cantidad: <%= product.amount %></p>
            </div>  
          </div>
        </div>
      <% end %>
    </div>
  </ul>
</div>