<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dltcgy0em/image/upload/v1629777435/sharon-pittaway-KUZnfk-2DSQ-unsplash_rhdxfk.jpg);">
  <div class="container">
    <h1>La Canasta verde <strong></strong> <strong></strong>!</h1>
    <p>Vegetales desde la huerta directamente a su mesa.</p>    
  </div>
</div>
</div>
<div class="container mt-5">
<div class="text-center">
  <h2 class="text-center">Productos</h2>
</div>
<div class="container mt-5">
    <div class="d-flex flex-wrap justify-content-around">
    <% @products.each do |product| %>    
      <div class="card-trip m-2">
          <% if product.image.attached? %>
            <%= cl_image_tag product.image.key, height: 800, width: 1000, crop: :fill %>
            <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to product.title.capitalize, shop_product_path(product.shop, product) %></h2>
            <p class="card-trip-pricing">Precio: $<%= product.price %></p>
          </div>
          <div class="mt-2">
            <p class="card-amount">Cantidad: <%= product.amount %></p>
            <p class="card-amount">shop: <%= product.shop.name.capitalize %></p>            
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
