
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><p><%= link_to  @product.shop.name, shop_path(@product.shop) %> </p></h1>
        <h5 class="modal-title" id="exampleModalLongTitle"><%= @product.shop.user.phone %></h5>
        <h5 class="modal-title" id="exampleModalLongTitle"><%= @product.shop.user.address %></h5>
        <h5 class="modal-title" id="exampleModalLongTitle"><%= @product.shop.user.email %></h5>
    <!--<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->
  </div>
</div>
<div class="container mb-2 cont-product p-2">
  <div id="content" class="d-flex justify-content-around" role="main">
  <%# usuario %>
    <div clas="flex-grow-3">
      <div>
        <h1><%= @product.title.try(:capitalize) %></h1>
      </div>  
        <div class="avatar shop-home-max-icon-width wt-position-relative wt-display-inline-block shop-home-large-icon-width" data-editable-img="shop-icon">
        <% if @product.image.attached? %>
        <%= cl_image_tag @product.image.key, crop: :fill , class: "avatar-large wt-rounded wt-display-block", alt: "avatar-large" %>
        <% end %>
      </div>  
    </div>
    <%# historia %>
    <div class="flex-grow-1 p-5">
      <div>
        <h2 class="wt-text-caption-title wt-display-inline">Description</h2>
        <p class="wt-text-caption wt-display-inline"><%= @product.description %></p>
        <h2><%=@product.price%></h2>
        <p><%= link_to  @product.shop.name, shop_path(@product.shop) %> </p>
        <!--<a class="btn btn-contact align-center"data-toggle="popover" title="" data-content="Datos1 :¨asd /n Datos 2:¨asd"><i class="fas fa-envelope"></i> Contactar</a>-->
      <div class="modal fade btn-contact" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    
      <div class="modal-header">
    
      <h4> Nos puedes llamar o escribir.</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Telefono:</label>
            <h5 class="modal-title" id="exampleModalLongTitle"><%= @product.shop.user.phone %></h5>
            
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Email:</label>
            <h5 class="modal-title" id="exampleModalLongTitle"><%= @product.shop.user.email %></h5>
            
          </div>
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Contactar
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    
      <div class="modal-header">
    
      <h4> Nos puedes llamar o escribir.</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Telefono:</label>
            <h5 class="modal-title" id="exampleModalLongTitle"><%= @product.shop.user.phone %></h5>
            
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Email:</label>
            <h5 class="modal-title" id="exampleModalLongTitle"><%= @product.shop.user.email %></h5>
            
          </div>
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>
